In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AccidentReports.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301761 entries, 0 to 301760
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   DISTRICTNAME              301761 non-null  object
 1   UNITNAME                  301761 non-null  object
 2   Crime_No                  301761 non-null  int64
 3   Year                      301761 non-null  int64
 4   RI                        301761 non-null  int64
 5   Noofvehicle_involved      301761 non-null  int64
 6   Accident_Classification   301759 non-null  object
 7   Accident_Spot             301760 non-null  object
 8   Accident_Location         301758 non-null  object
 9   Accident_SubLocation      301760 non-null  object
 10  Accident_SpotB            176684 non-null  object
 11  Main_Cause                301759 non-null  object
 12  Hit_Run                   301758 non-null  object
 13  Severity                  301759 non-null  object
 14  Collision_Type            301760 non-null  object
 15  Junction_Control          301760 non-null  object
 16  Road_Character            301757 non-null  object
 17  Road_Type                 301759 non-null  object
 18  Surface_Type              301759 non-null  object
 19  Surface_Condition         301760 non-null  object
 20  Road_Condition            301758 non-null  object
 21  Weather                   301760 non-null  object
 22  Lane_Type                 62508 non-null   object
 23  Road_Markings             30160 non-null   object
 24  Spot_Conditions           53349 non-null   object
 25  Side_Walk                 47057 non-null   object
 26  RoadJunction              0 non-null       float64
 27  Collision_TypeB           176686 non-null  object
 28  Accident_Road             301638 non-null  object
 29  Landmark_first            301193 non-null  object
 30  landmark_second           45969 non-null   object
 31  Distance_LandMark_First   301457 non-null  object
 32  Distance_LandMark_Second  26866 non-null   object
 33  Accident_Description      301616 non-null  object
 34  Latitude                  301761 non-null  float64
 35  Longitude                 301761 non-null  float64
dtypes: float64(3), int64(4), object(29)
memory usage: 82.9+ MB

In [6]:
df.to_sql('accidents', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

301761

In [7]:
df = pd.read_csv('AccusedData.csv')
df.info()
df.to_sql('AccusedData', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023698 entries, 0 to 3023697
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   District_Name     object
 1   UnitName          object
 2   FIRNo             object
 3   Year              int64
 4   Month             int64
 5   AccusedName       object
 6   Person_Name       object
 7   age               float64
 8   Caste             object
 9   Profession        object
 10  Sex               object
 11  PresentAddress    object
 12  PresentCity       object
 13  PresentState      object
 14  PermanentAddress  object
 15  PermanentCity     object
 16  PermanentState    object
 17  Nationality_Name  object
 18  DOB               object
 19  Person_No         object
 20  Arr_ID            int64
 21  crime_no          int64
dtypes: float64(1), int64(4), object(17)
memory usage: 507.5+ MB

C:\Users\Naveen\AppData\Local\Temp\ipykernel_19008\3353228421.py:3: UserWarning: The provided table name 'AccusedData' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('AccusedData', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

3023698

In [5]:
import pandas as pd
df = pd.read_csv('ArrestPersonDetails.csv')
df.info()
df.to_sql('arrestpersondetails', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527375 entries, 0 to 1527374
Data columns (total 23 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   District_Name        1527375 non-null  object
 1   UnitName             1527375 non-null  object
 2   FIRNo                1527375 non-null  object
 3   Year                 1527375 non-null  int64
 4   Month                1527375 non-null  int64
 5   Name                 1527374 non-null  object
 6   age                  1527301 non-null  float64
 7   Caste                1398985 non-null  object
 8   Profession           1416454 non-null  object
 9   Sex                  1526997 non-null  object
 10  PresentAddress       1527375 non-null  object
 11  PresentCity          1526214 non-null  object
 12  PresentState         1526955 non-null  object
 13  PermanentAddress     1527375 non-null  object
 14  PermanentCity        1526214 non-null  object
 15  PermanentState       1526955 non-null  object
 16  Nationality_Name     1525885 non-null  object
 17  DOB                  28695 non-null    object
 18  Person_No            1527093 non-null  object
 19  Crime_No             1527375 non-null  int64
 20  Arr_ID               1527375 non-null  int64
 21  Charge_Sheeted       1527375 non-null  int64
 22  Charge_Sheet_Number  1392208 non-null  float64
dtypes: float64(2), int64(5), object(16)
memory usage: 268.0+ MB

1527375

In [6]:
import pandas as pd
df = pd.read_csv('ChargsheetedDetails.csv')
df.info()
df.to_sql('chargsheeteddetails', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704041 entries, 0 to 1704040
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   District_Name      object
 1   UnitName           object
 2   FIRNo              object
 3   RI                 int64
 4   Year               int64
 5   Month              int64
 6   FIR_Date           object
 7   Report_Date        object
 8   Final_Report_Date  object
 9   Report_Type        object
 10  FIR_ID             int64
 11  Unit_ID            int64
 12  Crime_No           int64
 13  FR_ID              float64
dtypes: float64(1), int64(6), object(7)
memory usage: 182.0+ MB

1704041

In [7]:
import pandas as pd
df = pd.read_csv('ComplainantDetailsData.csv')
df.info()
df.to_sql('complainantdetailsdata', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1696392 entries, 0 to 1696391
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   District_Name     object
 1   UnitName          object
 2   FIRNo             object
 3   Year              int64
 4   Month             int64
 5   ComplainantName   object
 6   Relation          object
 7   RelationshipName  object
 8   DateOfBirth       object
 9   Age               int64
 10  Sex               object
 11  Nationality       object
 12  Occupation        object
 13  Address           object
 14  City              object
 15  State             object
 16  Pincode           float64
 17  Caste             object
 18  Religion          object
 19  FIR_ID            int64
 20  Unit_ID           int64
 21  Complaint_ID      int64
dtypes: float64(1), int64(6), object(15)
memory usage: 284.7+ MB

1696392

In [8]:
import pandas as pd
df = pd.read_csv('FIR_Details_Data.csv')
df.info()
df.to_sql('fir_details_data', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

C:\Users\Naveen\AppData\Local\Temp\ipykernel_22236\803169504.py:2: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('FIR_Details_Data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 41 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                object
 1   UnitName                     object
 2   FIRNo                        object
 3   RI                           int64
 4   Year                         int64
 5   Month                        int64
 6   Offence_From_Date            object
 7   Offence_To_Date              object
 8   FIR_Reg_DateTime             object
 9   FIR_Date                     object
 10  FIR Type                     object
 11  FIR_Stage                    object
 12  Complaint_Mode               object
 13  CrimeGroup_Name              object
 14  CrimeHead_Name               object
 15  Latitude                     float64
 16  Longitude                    float64
 17  ActSection                   object
 18  IOName                       object
 19  KGID                         object
 20  IOAssigned_Date              object
 21  Internal_IO                  int64
 22  Place of Offence             object
 23  Distance from PS             object
 24  Beat_Name                    object
 25  Village_Area_Name            object
 26  Male                         int64
 27  Female                       int64
 28  Boy                          int64
 29  Girl                         int64
 30  Age 0                        int64
 31  VICTIM COUNT                 int64
 32  Accused Count                int64
 33  Arrested Male                int64
 34  Arrested Female              int64
 35  Arrested Count	No.           int64
 36  Accused_ChargeSheeted Count  int64
 37  Conviction Count             int64
 38  FIR_ID                       int64
 39  Unit_ID                      int64
 40  Crime_No                     int64
dtypes: float64(2), int64(19), object(20)
memory usage: 530.0+ MB

1694191

In [9]:
import pandas as pd
df = pd.read_csv('MOBsData.csv')
df.info()
df.to_sql('mobsdata', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

C:\Users\Naveen\AppData\Local\Temp\ipykernel_22236\624466247.py:2: DtypeWarning: Columns (8,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('MOBsData.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157569 entries, 0 to 157568
Data columns (total 32 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   District_Name        157569 non-null  object
 1   Unit_Name            157569 non-null  object
 2   Name                 157569 non-null  object
 3   Person_No            157501 non-null  object
 4   MOB_Number           157562 non-null  object
 5   MobOpenDate          157068 non-null  object
 6   MOB_Open_Year        157068 non-null  float64
 7   Arrested_By          31985 non-null   object
 8   KGID                 31985 non-null   object
 9   Caste                96660 non-null   object
 10  Grading              157502 non-null  float64
 11  Occupation           117717 non-null  object
 12  PS_Native            81151 non-null   object
 13  PS_District          139332 non-null  object
 14  Offender_Class       157502 non-null  float64
 15  Crime_No             31627 non-null   object
 16  ActSection           152369 non-null  object
 17  Brief_Fact           109203 non-null  object
 18  Present_WhereAbouts  156508 non-null  object
 19  Gang_Strength        157569 non-null  int64
 20  Ident_Officer        1 non-null       object
 21  officer_rank         69206 non-null   object
 22  Crime_Group1         155213 non-null  object
 23  Crime_Head2          154095 non-null  object
 24  class                129028 non-null  object
 25  AGE                  152231 non-null  float64
 26  PresentAge           157569 non-null  object
 27  DOB                  13067 non-null   object
 28  Address              155395 non-null  object
 29  SEX                  121039 non-null  object
 30  Locality             157569 non-null  object
 31  LastUpdatedDate      155224 non-null  object
dtypes: float64(4), int64(1), object(27)
memory usage: 38.5+ MB

157569

In [10]:
import pandas as pd
df = pd.read_csv('RowdySheeterDetails.csv')
df.info()
df.to_sql('rowdysheeterdetails', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44561 entries, 0 to 44560
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   District_Name                 44561 non-null  object
 1   Unit_Name                     44561 non-null  object
 2   Rowdy_Sheet_No                44561 non-null  int64
 3   Name                          44561 non-null  object
 4   AliasName                     44561 non-null  object
 5   RS_Open_Date                  44561 non-null  object
 6   Rowdy_Classification_Details  25265 non-null  object
 7   Activities_Description        25758 non-null  object
 8   Rowdy_Category                44561 non-null  int64
 9   PrevCase_Details              32045 non-null  object
 10  Address                       44559 non-null  object
 11  Age                           44561 non-null  int64
 12  Father_Name                   44561 non-null  object
 13  Source_Of_Income              5175 non-null   object
 14  LastUpdatedDate               44370 non-null  object
 15  PresentWhereabout             38794 non-null  object
dtypes: int64(3), object(13)
memory usage: 5.4+ MB

44561

In [11]:
import pandas as pd
df.info()
df.to_sql('victiminfodetails', 'mysql+pymysql://root:@localhost:3306/ksp', if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465783 entries, 0 to 1465782
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   District_Name     1465783 non-null  object
 1   UnitName          1465783 non-null  object
 2   FIRNo             1465783 non-null  object
 3   Year              1465783 non-null  int64
 4   Month             1465783 non-null  int64
 5   VictimName        1464689 non-null  object
 6   age               1465783 non-null  int64
 7   Caste             1277136 non-null  object
 8   Profession        1285055 non-null  object
 9   Sex               1465556 non-null  object
 10  PresentAddress    1465783 non-null  object
 11  PresentCity       1465678 non-null  object
 12  PresentState      1464835 non-null  object
 13  PermanentAddress  1465783 non-null  object
 14  PermanentCity     1465678 non-null  object
 15  PermanentState    1464835 non-null  object
 16  Nationality_Name  1465779 non-null  object
 17  DOB               44059 non-null    object
 18  PersonType        1465783 non-null  object
 19  InjuryType        1009647 non-null  object
 20  Injury_Nature     27361 non-null    object
 21  Crime_No          1465783 non-null  int64
 22  Arr_ID            1465783 non-null  int64
 23  Victim_ID         1465783 non-null  int64
dtypes: int64(6), object(18)
memory usage: 268.4+ MB

1465783

In [ ]:
op = {
    'accuseddata': ['District_Name','AccusedName','Person_Name','age','Caste','Profession','Sex','PresentAddress','PresentCity','PresentState','PermanentAddress','PermanentCity','DOB'],
    'arrestpersondetails': ['District_Name','Name','age','Caste','Profession','PresentAddress','PresentCity','PresentState','Nationality_Name','DOB',]
    'chargsheeteddetails': ['District_Name','Year','Month','FIR_Date','Report_Date','Report_Type'],
    'complainantdetailsdata': ['District_Name','ComplainantName','Relation','RelationshipName','DateOfBirth','Age','Sex','Nationality','Occupation','Address','Religion','Caste'],
    'fir_details_data': ['District_Name','Year','Month','Offence_From_Date','Offence_To_Date','Complaint_Mode','CrimeGroup_Name','CrimeHead_Name','Beat_Name','VICTIM COUNT','Accused Count'],
    'mobsdata': ['District_Name','Name','MOB_Number','MobOpenDate','MOB_Open_Year','Caste','Grading','Occupation','AGE','PresentAge','DOB','Address'],
    'rowdysheeterdetails': ['District_Name','Rowdy_Sheet_No','Name','AliasName','Rowdy_Classification_Details','Rowdy_Category','Address','Age','Father_Name','Source_Of_Income','PresentWhereabout'],
    'victiminfodetails': ['District_Name','Year','Month','VictimName','age','Caste','Profession','Sex','PresentAddress','PresentCity','PresentState','PermanentAddress','PermanentCity','Nationality_Name','DOB','PersonType','InjuryType','Injury_Nature'],
}